overlay CreditsOverlay
{
    zorder 100

    overlay_element CreditsOverlay/Panel Panel
    {

        left 0
        top 0
        width 1
        height 1
        transparent true

        overlay_element CreditsOverlay/MobilePanel Panel
        {
            left 0
            top 0
            width 1
            height 1
            transparent true

            overlay_element CreditsOverlay/Text TextArea
            {
            metrics_mode relative
            font_name SmallFont
            char_height 0.045
            alignment center
            left 0.5
            top 0
            width 1
            height 2
            colour 0 0 0
            }

            overlay_element CreditsOverlay/MovablePanel Panel
            {
                left 0
                top 0.525
                width 1
                height 1
                transparent true

                overlay_element CreditsOverlay/OgreLogo Panel
                {
                    horz_align center
                    left -0.075
                    top 0.0
                    width 0.150
                    height 0.075
                    material ogre_logo
                }
                overlay_element CreditsOverlay/GplLogo Panel
                {
                    horz_align center
                    left -0.075
                    top 0.93
                    width 0.150
                    height 0.075
                    material gplv3
                }

                overlay_element CreditsOverlay/LogoPanel Panel
                {
                    left 0
                    top 0.73
                    width 1
                    height 1
                    transparent true

                    overlay_element CreditsOverlay/FsLogo Panel
                    {
                        horz_align center
                        vert_align center
                        left -0.075
                        top -0.1
                        width 0.150
                        height 0.2
                        material fslogo
                    }

                    overlay_element CreditsOverlay/FixiStudiosText TextArea
                    {
                        metrics_mode relative
                        font_name SmallFont
                        char_height 0.045
                        alignment center
                        vert_align center
                        colour 0 0 0
                        left 0.5
                        top 0.1
                        width 1
                        height 3

                        caption Fixi Studios
                    }

                }
            }

        }




    }

}
