[Desktop Entry]
Encoding=UTF-8
Name=Xdriller
Type=Application
Comment=A Mr Driller clone by Fixi Studios
Exec=xdriller
TryExec=xdriller
Icon=xdriller
Categories=Game;ActionGame;
Comment[en_GB]=A Mr Driller clone by Fixi Studios
